{% extends "base.html" %} {% block title %}Browse Tags - My Blog{% endblock %}
{% block content %}
<div class="all-tags-container">
  <h2>Browse by Tag</h2>
  <p class="tags-intro">
    Explore posts categorized by tags. Click on a tag to see all related posts.
  </p>

  {% if tags %}
  <div class="tag-cloud">
    {% for tag in tags %}
    <a
      href="/tags/{{ tag.id }}"
      class="tag-cloud-item"
      data-count="{{ tag.post_count }}"
    >
      <span class="tag-name">{{ tag.name }}</span>
      <span class="tag-count">{{ tag.post_count }}</span>
    </a>
    {% endfor %}
  </div>
  {% else %}
  <p class="no-tags">No tags yet. Create a post with tags to get started!</p>
  {% endif %}
</div>
{% endblock %}
